@import "base";

body {
  padding: 0;
  margin: 0;
}

.product-icon-container {
  text-align: center;
}

.product-icon {
  margin-right: 0;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  background: #f5f5f5;
  height: 239px;
  width: 275px;
  top: 25px;
  box-shadow: 0 0 40px rgba(0,0,0,.2);
  overflow: hidden;

  .plant {
    display: none;
    background-size: 185px 185px;
    position: relative;
    top: 32px;
    left: 39px;
    height: 185px;
    width: 185px;
  }
}
.p-container {
  margin-top: 180px;
  min-height: 420px;
}

.p-landing {
  top: 50px;
  padding-left: 20px;
  text-align: center;

  h1 {
    color: #ffffff;
    font-size: 76px;
    line-height: 36px;
    font-weight: 700;
    text-shadow: 0 0 40px rgba(0,0,0,.2);
  }
  h2 {
    color: $yellow;
    font-size: 33px;
    font-weight: 200;
    text-shadow: 0 0 40px rgba(0,0,0,.5);
  }
  .p-app-store {
    position: relative;
    top: 20px;
  }
  h1.p-coming-soon {
    font-size: 49px;
  }
}

.p-app-store > img:first-child {
  padding-left: 0;
}
.p-app-store img {
  padding-left: 40px;
}

@media (min-width: $screen-sm-min) {
  .p-landing {
    text-align: justify;
  }
  .product-icon {
    display: block;
  }
}
