<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        {% include _javascripts.html %}
        {% include _stylesheets.html %}

        <link rel="stylesheet" href="/assets/styles/css/application.css"/>
        <script src="/assets/js/application.js"></script>
        <title>Plant Everywhere</title>
    </head>
    <body>
        {{content}}
        <footer class="p-nav-container" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 col-lg-offset-1 col-md-11 col-md-offset-1 col-sm-11 col-sm-offset-1">
                        {% include _nav.html %}
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
